<section
  class="poster-carousel poster-carousel--{{variant}}{{#if centeredHero}} poster-carousel--centered-hero{{/if}}"
>
  {{#if showTitle}}
    <header class="poster-carousel__header">
      {{#if titleHref}}
        <a class="poster-carousel__title-link" href="{{titleHref}}" router-link>
          <h2 class="poster-carousel__title poster-carousel__title--interactive">
            {{title}}
          </h2>
        </a>
      {{else}}
        <h2 class="poster-carousel__title">{{title}}</h2>
      {{/if}}
    </header>
  {{/if}}

  <div class="poster-carousel__viewport-wrap">
    {{#if showArrows}}
      <button
        class="poster-carousel__arrow poster-carousel__arrow--prev"
        type="button"
        data-action="scroll-prev"
        aria-label="Прокрутить влево"
      >
        <span>&lsaquo;</span>
      </button>
    {{/if}}

    <div class="poster-carousel__viewport" data-role="viewport">
      <div class="poster-carousel__track">
        {{#each posterItems}}
          <div
            class="poster-carousel__slide poster-carousel__slide--{{this.size}} poster-carousel__slide--{{this.variant}}"
            data-index="{{this.slideIndex}}"
          >
            <div data-poster-slot="{{this.slotKey}}" class="poster-carousel__slot"></div>
            {{#if this.showProgress}}
              <div class="poster-progress">
                <div class="poster-progress__bar{{#if this.progress.percent}} poster-progress__bar--has-progress{{/if}}" style="width: {{this.progress.displayPercent}}%"></div>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>

    {{#if showArrows}}
      <button
        class="poster-carousel__arrow poster-carousel__arrow--next"
        type="button"
        data-action="scroll-next"
        aria-label="Прокрутить вправо"
      >
        <span>&rsaquo;</span>
      </button>
    {{/if}}
  </div>
</section>
